body {
    background-color: white;
    font: normal 14px Verdana, Geneva, sans-serif;
}

#header {
    background-color: whitesmoke;
    width: 1250px;
    overflow: hidden;
}
#logo {
    margin-left: 50px;
    float: left;
    font-size: 28px;
}

#navbar {
    float: left;
    list-style-type: none;
    margin: 0;
    margin-top: 16px;
    margin-left: 550px;
    padding: 0;
    overflow: hidden;
}
#navbar li {
    float: left;
    background-color: royalblue;
    border-radius: 5px;
    margin-right: 10px;
}
.navlink {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    color: white;
}

.gamelist {
    list-style-type: none;
}
.gamelist li {
    margin-top: 20px;
    width: 400px;
}
.game_active, .game_current, .game_complete {
    border-radius: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
}
.game_active {
    background-color: darkgreen;
}
.game_current {
    background-color: goldenrod;
}
.game_complete{
    background-color: silver;
}

.container {
    width: 1050px;
    overflow: hidden;
    margin: auto;
}

#gamename {
    width: 1050px;
    text-align: center;
}

#grid {
    height: 600px;
    width: 600px;
    float: left;
}

.card, .ocard, .car, .nameplate {
    width: 65px; 
    height: 65px;
    margin: 5px;
    float: left;
    border-radius: 10px;
}
.card, .ocard {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.secret {
    box-shadow: 0 0 0 5px darkgoldenrod;
}
.public {
    box-shadow: 0 0 0 5px cyan;
}
.secret.public {
    box-shadow: 0 0 0 3px darkgoldenrod, 0 0 0 5px cyan;
}
.clicked_card {
    box-shadow: 0 0 0 5px green inset;
}
.secret.clicked_card {
    box-shadow: 0 0 0 5px darkgoldenrod, 0 0 0 5px green inset;
}
.public.clicked_card {
    box-shadow: 0 0 0 5px cyan, 0 0 0 5px green inset;
}
.secret.public.clicked_card {
    box-shadow: 0 0 0 3px darkgoldenrod, 0 0 0 5px cyan, 0 0 0 5px green inset;
}

.endshow {
    color: transparent;
}
.endshow:hover {
    color: white;
}

.unknown {
    background-color: grey;
}
.heart {
    background-color: red;
}
.spade {
    background-color: black;
}

.nameplate {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
}
.current {
    font-size: 30px;
    color: green;
}
.R {
    transform: rotate(0deg)
}
.U {
    transform: rotate(270deg)
}
.L {
    transform: rotate(180deg)
}
.D {
    transform: rotate(90deg)
}

#log {
    height: 600px;
    width: 400px;
    margin-left: 50px;
    outline: 5px solid;
    outline-offset: -5px;
    float: left;
    overflow: auto;
}
#logtitle {
    margin-left: 20px;
}
.action {
    margin-left: 20px;
    margin-bottom: 10px;
}

input[type=text]#value {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    float: left;
    background-color: lightgray;
    border-radius: 5px;
    margin-right: 10px;
    width: 2em;
}

input[type=submit] {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: blue;
    float: left;
    background-color: lightgray;
    border-radius: 5px;
    margin-right: 10px;
}
#declare {
    float: none;
    margin-left: 525px;
}
