.header {
    color: red;
    text-size: 300%;
}

.navbar {
    color: black;
}

.grid {
    width: 600px;
}

.card, .car {
    width: 75px; 
    height: 75px;
    float: left;
}
.card {
    outline: 1px solid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.heart {
    background-color: red;
}
.spade {
    background-color: black;
}

.clicked_card {
    outline: 5px solid;
    outline-color: green;
    outline-offset: -5px;
}
