.header {
    color: red;
    text-size: 300%;
}

.navbar {
    color: black;
}

.grid {
    width: 600px;
}

.card, .car {
    width: 75px; 
    height: 75px;
    float: left;
}
.card {
    outline: 1px solid;
}

.clicked_card {
    background-color: yellow;
    color: yellow;
    outline: 0px solid;
}
