<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ url_for("static", filename = "style.css") }}">
            <link rel="shortcut icon" href="{{ url_for("static", filename = "favicon.ico") }}">
            <title>{% block title %}{% endblock %} - Logic</title>
        {% endblock %}
    </head>

    <body>
        <div id="header">
            <a id="logo" href="{{ url_for("views.homepage") }}">
                <img src="{{ url_for("static", filename = "logiclogo.png") }}" alt="logo link to hompage" style="width:172px;height:60px">
            </a>
            <ul id="navbar">
                <li><a class="navlink" href="{{ url_for("views.homepage") }}">Home</a></li>
                <li><a class="navlink" href="{{ url_for("views.rules") }}">Rules</a></li>
                {% if session["user"] %}
                    <li><a class="navlink" href="{{ url_for("views.newgame") }}">New Game</a></li>
                    <li><a class="navlink" href="{{ url_for("views.games") }}">Games</a></li>
                    <li><a class="navlink" href="{{ url_for("views.logout") }}">Logout</a></li>
                {% else %}
                    <li><a class="navlink" href="{{ url_for("views.login") }}">Login</a></li>
                    <li><a class="navlink" href="{{ url_for("views.register") }}">Register</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
