<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="/static/style.css">

        <title> {% block title %}{% endblock %} - Logic</title>
        {% endblock %}
    </head>

    <body>
        <div id="header">
            <h1 id="logo">Logic</h1>

            <ul id="navbar">
                <li><a class="navlink" href="/">Home</a></li>
                <li><a class="navlink" href="/games">Game</a></li>
                <li><a class="navlink" href="/add">New Game</a></li>

                {% if session["user"] %}
                    <li><a class="navlink" href="/logout">Logout</a></li>
                {% else %}
                    <li><a class="navlink" href="/login">Login</a></li>
                    <li><a class="navlink" href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
            {# nothing here #}
            {% endblock %}
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/static/base.js"></script>
    </body>
</html>
