{% extends "base.html" %}

{% block title %} Games {% endblock %}

{% block content %}
    <h2>Your Turn</h2>
    <ul class="gamelist">
        {% for game in myturn %}
            <li><a class="gamelink" href="{{ url_for("views.game", name = game.name) }}">{{ game.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Current</h2>
    <ul class="gamelist">
        {% for game in games %}
            <li><a class="gamelink" href="{{ url_for("views.game", name = game.name) }}">{{ game.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Completed</h2>
    <ul class="gamelist">
        {% for game in completed %}
            <li><a class="gamelink" href="{{ url_for("views.game", name = game.name) }}">{{ game.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename = "games.js") }}"></script>
{% endblock %}
