{% extends "base.html" %}

{% block title %} Game {{ name }} {% endblock %}

{% block content %}
    <div class="container">
        <h1 id="gamename">{{ name }}</h1>
        {% block game_above %} {% endblock %}

        <div id="grid"><div id="reload_grid">
            {% block grid %}
                {% for ind in range(64) %}
                    {% set card = game.grid(user)[ind] %}
                    {% if card is none %}
                        <div class="car"></div>
                    {% elif card is string %}
                        <div class="nameplate {{ card[0] }} {{ "current" if game.players[game.current]==card[1:] }}">{{ card[1:] }} </div>
                    {% else %}
                        <div class="card {{ "heart" if card.suit=="H" else "spade"  }} ind{{ ind }} {{ "secret" if card.secret }} {{ "public" if card.flipped }}">
                            {{ card.val if card.flipped or card.private }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div></div>
            
        <div id="log"><div id="reload_log">
            <h2 id="logtitle">Actions:</h2>
            {% for action in game.log[::-1] %}
                <div class="action">{{ action }}</div>
            {% endfor %}
        </div></div>

        <div id="chat">
            <div id="chatbox"><div id="reload_chatbox">
                <h2 id="chattitle">Chat:</h2>
                {% for message in game.chat[::-1] %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            </div></div>
            {% if user %}
                <input id="chatline" type=text name="message">
            {% endif %}
        </div>

        {% block game_below %}
            {%  if game.index(user)>=0 and game.state<3 %}
                <input type="submit" name="declare" id="declare" value="Declare">
            {% endif %}
            {# PUT CHAT HERE #}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename = "base.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "declare.js") }}"></script>

    <script type="text/javascript" src="{{ url_for("static", filename = "call.js") }}"></script> {# TODO is there a way to reload scripts too? #}
    <script type="text/javascript" src="{{ url_for("static", filename = "guess.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "order.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "pass.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "reveal.js") }}"></script>
{% endblock %}
