{% extends "base.html" %}

{% block title %} Games {% endblock %}

{% block content %}
    <div id="gamelist"><div id="reload_gamelist">
        <h2>Your Turn</h2>
        <ul class="gamelist">
            {% for game in myturn %}
                <li><a class="game_active" href="{{ url_for("views.game", name = game.name) }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
        <h2>Current</h2>
        <ul class="gamelist">
            {% for game in games %}
                <li><a class="game_current" href="{{ url_for("views.game", name = game.name) }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
        <h2>Completed</h2>
        <ul class="gamelist">
            {% for game in completed %}
                <li><a class="game_complete" href="{{ url_for("views.game", name = game.name) }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
    </div></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename = "games.js") }}"></script>
{% endblock %}
