{% extends "base.html" %}

{% block title %} Game {{ name }} {% endblock %}

{% block content %}
    <div class="container">
        <div id="username">{{ user }}</div>
        <h1 id="gamename">{{ name }}</h1>

        <div id="above"><div id="reload_above">
            {% block game_above %} {% endblock %}
        </div></div>

        <div id="grid"><div id="reload_grid">
            {% block grid %}
                {% for ind in range(64) %}
                    {% set card = game.grid(user)[ind] %}
                    {% if card is none %}
                        <div class="car"></div>
                    {% elif card is string %}
                        <div class="nameplate {{ card[0] }} {{ "current" if game.players[game.current]==card[1:] }}">{{ card[1:] }} </div>
                    {% else %}
                        <div class="card {{ "heart" if card.suit=="H" else "spade"  }} ind{{ ind }} {{ "secret" if card.secret }} {{ "public" if card.flipped }}">
                            {{ card.val if card.flipped or card.private }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div></div>
        
        <div id="userbox">
            <ul id="boxtabs" class="tabbox">
                <li><a href="javascript:void(0)" class="tab log">Actions</a></li>
                <li><a href="javascript:void(0)" class="tab chat">Chat</a></li>
                <li><a href="javascript:void(0)" class="tab notes">Notes</a></li>
            </ul>

            <div id="log" class="tabcontent">
                <h2 id="logtitle">Actions:</h2>
                <div id="logbox"><div id="reload_logbox">
                    {% for action in game.log %}
                        <div class="datestamp">{{ action[1] }}</div>
                        <div class="action">
                            <div class="textstamp">{{ action[0] }}</div>
                            <div class="timestamp">{{ action[1] }}</div>
                        </div>
                    {% endfor %}
                </div></div>
            </div>

            <div id="chat" class="tabcontent">
                <h2 id="chattitle">Chat:</h2>
                <div id="chatbox"><div id="reload_chatbox">
                    {% for message in game.chat %}
                        <div class="datestamp">{{ message[1] }}</div>
                        <div class="message">
                            <div class="textstamp">{{ message[0] }}</div>
                            <div class="timestamp">{{ message[1] }}</div>
                        </div>
                    {% endfor %}
                </div></div>
                {% if user %}
                    <input id="chatline" class="focus" type=text name="message">
                {% endif %}
            </div>

            <div id="notes" class="tabcontent">
                <h2 id="notestitle">Notes:</h2>
                <textarea id="notesbox" class="focus" placeholder="write something down!"></textarea>
                {% for note in game.notes %}
                {# hacky solution: remove notebox and put in new one with next message matching current user #}
                {% endfor %}
                <input type=submit name="save" id="save" value="Save">
            </div>
        </div>

        <div id="below"><div id="reload_below">
            {% block game_below %}
                {%  if game.index(user)>=0 and game.state<3 %}
                    <input type="submit" name="declare" id="declare" value="Declare">
                {% endif %}
                {# PUT CHAT HERE #}
            {% endblock %}
        </div></div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename = "base.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "tabs.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "declare.js") }}"></script>

    <script type="text/javascript" src="{{ url_for("static", filename = "call.js") }}"></script> {# TODO is there a way to reload scripts too? #}
    <script type="text/javascript" src="{{ url_for("static", filename = "guess.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "order.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "pass.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "reveal.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename = "save.js") }}"></script>
{% endblock %}
