{% extends "base.html" %}

{% block title %} Game {{ name }} {% endblock %}

{% block content %}

    <div class="container">
        <h1 id="gamename">{{ name }}</h1>
        {% block game_above %} {% endblock %}

        {% block grid %}
        <div id="grid">
            {% for ind in range(64) %}
                {% set card = game.grid(user)[ind] %}
                {% if card is none %}
                    <div class="car"></div>
                {% elif card is string %}
                    <div class="nameplate {{ card[0] }} {{ "current" if game.players[game.current]==card[1:] }}">{{ card[1:] }} </div>
                {% else %}
                    <div class="card {{ "heart" if card.suit=="H" else "spade"  }} ind{{ ind }} {{ "secret" if card.secret }} {{ "public" if card.flipped }}">
                        {{ card.val if card.flipped or card.private }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endblock %}
            
        <div id="log">
            <h2 id="logtitle">Actions:</h2>            
            {% for action in game.log %}
                <div class="action">{{ action }}</div>
            {% endfor %}
        </div>

        {% block game_below %}
            {%  if game.index(user)>=0 %}
                <input type="submit" id="declare" value="Declare">
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename = "declare.js") }}"></script>
{% endblock %}
