{% extends "base.html" %}

{% block title %} New Game {% endblock %}

{% block content %}
    {% if error %}
        <p class="error">ERROR: {{ error }}</p>
    {% endif %}
    
    <form method=post>
        <dl>
            <dt>Game Name:
            <dd><input type=text name="name">
            <dt>Team 1:
            <dd><input type=text name="p1">
            <dd><input type=text name="p3">
            <dt>Team 2:
            <dd><input type=text name="p2">
            <dd><input type=text name="p4">
            <dd><input type=submit name="create" value="Create">
        </dl>
    </form>
{% endblock %}
