{% extends "base.html" %}

{% block title %} New Game {% endblock %}

{% block content %}
    {% if error %}
        <p class="error">ERROR: {{ error }}</p>
    {% endif %}
    
    <form action={{ url_for("views.newgame") }} method=post>
        <d1>
            <dt>Game Name:
            <dd><input type=text name=name>
            <dt>Player 1:
            <dd><input type=text name=p1>
            <dt>Player 2:
            <dd><input type=text name=p2>
            <dt>Player 3:
            <dd><input type=text name=p3>
            <dt>Player 4:
            <dd><input type=text name=p4>
            <dd><input type=submit value=Create>
        </d1>
    </form>
{% endblock %}
