{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
    {% if error %}
        <p class="error">ERROR: {{ error }}</p>
    {% endif %}
    
    <form method=post>
        <d1>
            <dt>Username:
            <dd><input type=text name="username">
            {#<dt>Password: TODO add password
            <dd><input type=password name="password">#}
            <dd><input type=submit name="register" value="Register">
        </d1>
    </form>
{% endblock %}
